@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsla(216, 12%, 54%, 0.205);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  background-color: $veryDarkBlue;
  color: $white;

  .main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      background-color: $darkBlue;
      min-height: 400px;
      width: 90%;
      max-width: 375px;
      margin: 30px auto;
      padding: 30px;
      border-radius: 30px;

      .phone-container {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;

        .phone-image {
          width: 100%;
          height: 100%;
        }
      }

      .selected-rate-container {
        color: $orange;
        background-color: $mediumGrey;
        padding: 12px 8px 10px;
        border-radius: 30px;
        text-align: center;
        max-width: 200px;
        width: 100%;
        margin: 20px auto;
      }

      // RatingCard Component
      .star-container {
        width: 50px;
        height: 50px;
        display: flex;
        padding: 16px;
        border-radius: 100%;
        background-color: $mediumGrey;
        margin-bottom: 30px;
      }

      .title {
        text-align: center;

        &.summary {
          text-align: center;
        }
      }

      .description {
        color: $lightGrey;
        margin: 20px 0;
        text-align: center;

        &.summary {
          text-align: center;
          // Change margin-bottom!!!
          margin-bottom: 0;
        }
      }

      .rate-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    
        .rate-btn {
          width: 45px;
          height: 45px;
          padding: 12px;
          border-radius: 100%;
          background-color: $mediumGrey;
          color: $lightGrey;
          border: none;
          font-family: 'Overpass', sans-serif;
          font-weight: 700;
          font-size: 15px;
          margin-bottom: 10px;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            background-color: $lightGrey;
            color: $white;
          }

          &.active {
            color: $white;
            background-color: $orange;
          }
        }
      }

      .submit-btn {
        background-color: $orange;
        color: $white;
        width: 100%;
        height: 40px;
        border-radius: 30px;
        border: none;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: $orange;
          background-color: $white;
        }
      }
    }
  }
}

@media (min-width: 320px) {
  body {
    .main {
      .container {
        .title {
          text-align: left;
        }

        .description {
          text-align: left;
        }

        .rate-buttons-container {
          flex-direction: row;

          .rate-btn {
            margin-bottom: 0;
  
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}